

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <title>Climber</title>
        <style>
            .btn a {color: white; text-decoration-color:none;}
            body {background-color: #F1F1F1;}
        </style>
    </head>
    <body>
        <div class="text-center">
            <h1>@ViewBag.Greeting Climber</h1>
            
            <h2>We're going to have an exciting training</h2>
            <h3>Come on and train climb in Alfa Wall with us:) </h3>
            <div class="btn btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm")
            </div>
        </div>
    </body>
</html>

